 branches:
   include:
     - main
     - feature/*
     
pool:
  name: practice-pipeline-pool

variables:
  svc: 'practice-connection'
  stgname: 'tfstatestgdev001'
  containername: 'tfstate'
  statefile: 'dev.terraform.tfstate'
  workingDir: '$(System.DefaultWorkingDirectory)/env/dev'


stages:
  - stage: Build
    jobs:
      - job: terraforminitandplan
        displayName: terraform init
        steps:
          - task: TerraformInstaller@1
            inputs:
              terraformVersion: 'latest'

          - task: TerraformTask@5
            inputs:
              provider: 'azurerm'
              command: 'init'
              workingDirectory: '$(workingDir)'
              backendAzureRmUseEntraIdForAuthentication: false
              backendServiceArm: '$(svc)'
              backendAzureRmStorageAccountName: '$(stgname)'
              backendAzureRmContainerName: '$(containername)'
              backendAzureRmKey: '$(statefile)'
          - task: TerraformTask@5
            inputs:
              provider: 'azurerm'
              command: 'validate'
              workingDirectory: '$(workingDir)'
          
          - task: TerraformTask@5
            inputs:
              provider: 'azurerm'
              command: 'plan'
              environmentServiceNameAzureRM: '$(svc)'
              workingDirectory: '$(workingDir)'
          
  - stage: Scanning
    dependsOn: Build
    displayName: scanning
    jobs:
      - job: tfscanning
        displayName: scanning for code
        pool: 
          name: practice-pipeline-pool
        steps:
          - task: tfsec@1
            inputs:
              version: 'v1.26.0'
              dir: '$(System.DefaultWorkingDirectory)/environment/dev'
      
      - job: TfLint
        displayName: tflintforcode
        pool: 
          name: practice-pipeline-pool
        steps:
          - task: CmdLine@2
            inputs:
              script: |
                echo "Installing TFLint..."
                curl -s https://raw.githubusercontent.com/terraform-linters/tflint/master/install_linux.sh | bash
                echo "Running TFLint..."
                tflint --init
                tflint '$(workingDir)'   
      - job: ManualValidation
        displayName: manual validation
        pool: server
        steps:
          - task: ManualValidation@1
            inputs:
              notifyUsers: 'adhiraaj22@gmail.com'
     
      - job: TerraformApply
        displayName: Terraform Apply
        dependsOn: ManualValidation
        pool: practice-pipeline-pool
        steps:
          - task: TerraformTask@5
            inputs:
              provider: 'azurerm'
              command: 'init'
              workingDirectory: '$(workingDir)'
              backendAzureRmUseEntraIdForAuthentication: false
              backendServiceArm: '$(svc)'
              backendAzureRmStorageAccountName: '$(stgname)'
              backendAzureRmContainerName: '$(containername)'
              backendAzureRmKey: '$(statefile)'
          - task: TerraformTask@5
            inputs:
              provider: 'azurerm'
              command: 'apply'
              workingDirectory: '$(workingDir)'
              environmentServiceNameAzureRM: '$(svc)'   
